.Hello{
    margin: auto;
    position:relative;
   display: grid;
   max-width: 1600px;
   /*background-color:gray;*/
   padding: 30px;
   background-color: white;
}
body {
    background-color:rgba(226, 226, 226, 0.712);
 }
 /* tämä on Kuvatcontainerin css tiedosto*/
 .grid-palaute { 
    margin: 0 auto;
    position: relative;
   display: grid;
   max-width: 70%;
   padding: 50px;
 }
 .grid-item {
    padding: 100px;
 }
 .kotisivu{
    padding-top: 30px;
 }
 .laatikko{
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 15%;
   padding-right: 15%;
}
.arvostelut{
   margin: auto;
    position:relative;
   display: grid;
   max-width: 1600px;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 5%;
   padding-right: 5%;
   background-color: white;
}
.arvostelutteksti{
   background-color:whitesmoke;
   font-family:Arial, Helvetica, sans-serif;
}
.yritysinfo{
   margin: auto;
    position:relative;
   display: grid;
   max-width: 1600px;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 5%;
   padding-right: 5%;
   background-color: white;
}



