.my-custom-scrollbar {
  position: relative;
  height: 250px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  th, td {
    text-align: center;
    background-color: white;
    min-width: 40px;
    max-width: 40px;
    height: 100px;
    padding: 15px;
    text-align: center;
    
  }
  button {
    background-color:rgb(16, 69, 107);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .mokkiteksti-container{
    padding-top:1%;
  }
  .hero{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%; 
  }
  .kalenteri{
    padding-top: 100px;
    padding-bottom: 100px
  }
  